<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
body{
	background-color: red;
}
.navBar{
	font-size: 25px;
	border-radius: 12px;
}
.testButton{
	border-radius: 12px;
	background-color: transparent;
	width: 150px;
}
